<% include header %>
    <!-- Incluir esto siempre en todos los views -->
    <% if (userAuthenticated) { %>
        <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-bars"></i>
                        </button>
                            <a class="navbar-brand" href="/"><h1><span class="pe-7s-gleam bounce-in"></span>Easy Games</h1></a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Pagina de incio</a></li>
                            <li><a href="/api/user/read">Información de usuario (<%= userAuthenticated.firstName %>)</a></li>
                            <li><a href="/auth/logout">Cerrar sesión</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </header><!--/header-->

<<<<<<< HEAD
<section id="main-slider" class="no-margin">
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                	<span class="home-icon pe-7s-gleam bounce-in"></span>
                                    <h2 class="boxed animation animated-item-1 fade-down">¿Juegos? Easy Games</h2>
                                      <br>
                                      <div class="search_box">
                                        <form class="boxed animation animated-item-2 fade-up" action="" method="post">
                                          <fieldset>
                                            <input class="input_search" type="Search" placeholder="Buscar juegos">
                                            <button class="search_button" type="submit" name="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                          </fieldset>
                                        </form>
                                      </div>
                                    <br>
                                    <a class="btn btn-md animation bounce-in" href="#services">Juegos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
    </section><!--/#main-slider-->


    <div id="content-wrapper">
        <section id="services" class="white">
            <div class="container">
            <div class="gap"></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="center gap fade-down section-heading">
                            <h2 class="main-title">Juegos recientes</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-camera fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">The Witcher 3 </h3>
                                <p>$35.50</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-thumbs-o-up fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Assassin's Creed Origins</h3>
                                <p>$50.80</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-ticket fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Grand Theft Auto V</h3>
                                <p>$45.00</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-star fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">Star Wars Battlefront II</h3>
                                <p>$60.90</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                    <div class="col-md-4 col-sm-6">
                        <div class="service-block">
                            <div class="pull-left bounce-in">
                                <i class="fa fa-google-plus fa fa-md"></i>
                            </div>
                            <div class="media-body fade-up">
                                <h3 class="media-heading">.hack</h3>
                                <p>$35.99</p>
                            </div>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.row-->
            </div>
            <div class="gap"></div>

        </section>


		<section id="single-quote" class="divider-section">
	            <div class="container">
	            	<div class="gap"></div>
	                <div class="row">
	                    <div class='col-md-offset-2 col-md-8 fade-up'>
	                        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
	                            <div class="carousel-inner">
	                                <div class="item active">
	                                    <blockquote>
	                                        <div class="row">
	                                            <div class="col-sm-3 text-center">
	                                                <img class="img-responsive" src="images/team/Gabe.png" style="width: 100px;height:100px;">
	                                            </div>
	                                            <div class="col-sm-9">
	                                                <p>Los programadores del mañana son los magos del futuro</p>
	                                                <small>Gabe Newell</small>
	                                            </div>
	                                        </div>
	                                    </blockquote>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="gap"></div>
	      		</div>
  		</section>
        </div>
=======
    <% } else { %>
        <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                        <a class="navbar-brand" href="/"><h1><span class="pe-7s-gleam bounce-in"></span>Easy Games</h1></a>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Pagina de incio</a></li>
                        <li><a href="/signin">Inicia sesion</a></li>
                        <li><a href="/signup">Registrate</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </header><!--/header-->
    <% } %>
    <!-- -->

    <section id="main-slider" class="no-margin">
            <div class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="carousel-content center centered">
                                        <span class="home-icon pe-7s-gleam bounce-in"></span>
                                        <h2 class="boxed animation animated-item-1 fade-down">¿Juegos? Easy Games</h2>
                                          <br>
                                          <div class="search_box">
                                            <form class="boxed animation animated-item-2 fade-up" action="/searchGame" method="get">
                                              <fieldset>
                                                <input name="buscar" class="input_search" type="Search" placeholder="Buscar juegos">
                                                <button class="search_button" type="submit" name="button"><span class="fa fa-search" aria-hidden="true"></span></button>
                                              </fieldset>
                                            </form>
                                          </div>
                                        <br>
                                        <a class="btn btn-md animation bounce-in" href="#services">Juegos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--/.item-->
                </div><!--/.carousel-inner-->
            </div><!--/.carousel-->
    </section><!--/#main-slider-->

    <div id="content-wrapper">
            <section id="services" class="white">
                <div class="container">
                    <div class="gap"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="center gap fade-down section-heading">
                                <h2 class="main-title">Juegos recientes</h2>
                            </div>
                        </div>
                    </div>
                    
                    <% if (userAuthenticated) { %>
                        <div class="row">
                            <% for (var i = 0; i < data.length; i++) { %>
                                    <form class="container col-md-4 col-sm-6" action="/api/user/addFavGame" method="post">
                                        <div style="height: 600px;" class="service-block">
                                            <div style="width: 100%;" class="pull-left bounce-in">
                                                <img src="<%= data[i].image %>" alt="">
                                            </div>
                                            <div class="media-body fade-up">
                                                <div style="height: 50px;" class="media-heading">
                                                    <h3><%= data[i].name %></g3>
                                                </div><br>  
                                                <p><%= data[i].price %></p>
                                                <p><a href="<%= data[i].link %>">Ir al juego</a></p>

                                                <input type="hidden" name="name" value="<%= data[i].name %>">
                                                <input type="hidden" name="picture" value="<%= data[i].image %>">
                                                <input type="hidden" name="price" value="<%= data[i].price %>">
                                                <input type="hidden" name="link" value="$<%= data[i].link %>">
                                                <input style="width: 100%;" class="btn__submit" type="submit" value="Añadir a favoritos">
                                            </div>
                                        </div>    
                                    </form> <!--/.col-md-4-->
                            <% } %>
                        </div><!--/.row-->
                    <% } else { %>
                        <div class="row">
                            <% for (var i = 0; i < data.length; i++) { %>
                                <div class="container col-md-4 col-sm-6">
                                    <div style="height: 600px;" class="service-block">
                                        <div style="width: 100%;" class="pull-left bounce-in">
                                            <img src="<%= data[i].image %>" alt="">
                                        </div>
                                        <div class="media-body fade-up">
                                            <div style="height: 50px;" class="media-heading">
                                                <h3><%= data[i].name %></g3>
                                            </div><br>  
                                            <p><%= data[i].price %></p>
                                            <p><a href="<%= data[i].link %>">Ir al juego</a></p>
                                        </div>
                                    </div>    
                                </div> <!--/.col-md-4-->
                            <% } %>
                        </div><!--/.row-->
                    <% } %>
                </div>

                <div class="gap"></div>
            </section>
        
            <section id="single-quote" class="divider-section">
                    <div class="container">
                        <div class="gap"></div>
                        <div class="row">
                            <div class='col-md-offset-2 col-md-8 fade-up'>
                                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-3 text-center">
                                                        <img class="img-responsive" src="/images(front)/team/Gabe.png" style="width: 100px;height:100px;">
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <p>Los programadores del mañana son los magos del futuro</p>
                                                        <small>Gabe Newell</small>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gap"></div>
                      </div>
              </section>
    </div>
>>>>>>> dev

<% include footer %>
