<% include header %>

<!-- Incluir esto siempre en todos los views -->
<% if (userAuthenticated) { %>
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                        <a class="navbar-brand" href="/"><h1><span class="pe-7s-gleam bounce-in"></span>Easy Games</h1></a>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Pagina de incio</a></li>
                        <li><a href="/api/user/read">Información de usuario (<%= userAuthenticated.firstName %>)</a></li>
                        <li><a href="/auth/logout">Cerrar sesión</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </header><!--/header-->

<% } else { %>
    <header class="navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="/"><h1><span class="pe-7s-gleam bounce-in"></span>Easy Games</h1></a>
            </div>
            <div class="collapse navbar-collapse">
                <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Pagina de incio</a></li>
                    <li><a href="/signin">Inicia sesion</a></li>
                    <li><a href="/signup">Registrate</a></li>
                </ul>
            </div>
            </div>
        </div>
    </header><!--/header-->
<% } %>
<!-- -->

<div id="content-wrapper">
    <section id="services" class="white">
        <div class="container">
            <div class="gap"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="center gap fade-down section-heading">
                        <h2 class="main-title">Resultados</h2>
                    </div>
                </div>
            </div>

            <% if (userAuthenticated) { %>
                <div class="row">
                    <% for (var gameItem in data) { %>
                        <form class="container col-md-4 col-sm-6" action="/api/user/addFavGame" method="post">
                            <div "height: 600px;" class="service-block">
                                <div style="width: 100%;" class="pull-left bounce-in">
                                    <img src="<%= data[gameItem].dataGame.image %>" alt="">
                                </div>
                                <div class="media-body fade-up">
                                    <div style="height: 50px;" class="media-heading">
                                        <h3><%= data[gameItem].dataGame.name %></g3>
                                    </div><br>  
                                    <p><%= data[gameItem].dataGame.price %></p>
                                    <p><a href="<%= data[gameItem].dataGame.link %>">Ir al juego</a></p>

                                    <input type="hidden" name="name" value="<%= data[gameItem].dataGame.name %>">
                                    <input type="hidden" name="picture" value="<%= data[gameItem].dataGame.image %>">
                                    <input type="hidden" name="price" value="<%= data[gameItem].dataGame.price %>">
                                    <input type="hidden" name="link" value="$<%= data[gameItem].dataGame.link %>">
                                    <input style="width: 100%;" class="btn__submit" type="submit" value="Añadir a favoritos">
                                </div>
                            </div>       
                        </form> <!--/.col-md-4-->
                    <% } %>
                </div><!--/.row-->
            <% } else { %>
                <div class="row">
                    <% for (var gameItem in data) { %>
                        <div class="container col-md-4 col-sm-6">
                            <div "height: 600px;" class="service-block">
                                <div style="width: 100%;" class="pull-left bounce-in">
                                    <img src="<%= data[gameItem].dataGame.image %>" alt="">
                                </div>
                                <div class="media-body fade-up">
                                    <div style="height: 50px;" class="media-heading">
                                        <h3><%= data[gameItem].dataGame.name %></g3>
                                    </div><br>  
                                    <p><%= data[gameItem].dataGame.price %></p>
                                    <p><a href="<%= data[gameItem].dataGame.link %>">Ir al juego</a></p>
                                </div>
                            </div>    
                        </div><!--/.col-md-4-->
                    <% } %>
                </div><!--/.row-->
            <% } %>
        </div>

        <div class="gap"></div>
    </section>
</div>

<% include footer %>
